{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head profile="http://gmpg.org/xfn/11">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="screen-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">

    <meta name="keywords" content="    "/>
    <meta name="description" content=""/>


    <title>{% block title %}{% endblock %}</title>
    {#<link rel="shortcut icon" href="{% static 'images/forever.ico' %}" type="image/x-icon" />#}
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://assets-cdn.github.com/favicon.ico">
    <meta name='robots' content='noindex,follow'/>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <link rel='stylesheet' id='dashicons-css' href='{% static 'css/dashicons.min.css' %}' type='text/css' media='all'/>
    <link rel='stylesheet' id='stylesheet-css' href='{% static 'style.css' %}' type='text/css' media='all'/>
    <link rel='stylesheet' id='default-css' href='{% static 'css/default-skin.css' %}' type='text/css' media='all'/>
    <script type='text/javascript' src='{% static 'js/jquery-2.1.1.min.js' %}'></script>

</head>


<body>
  <div class="header">
      <div class="top_image"></div>
      <div class="header_logo">
          <h1>FOREVER の BLOG</h1>
      </div>
  
      <div class="nav">
          <span id="nav_b" class="light_span">导航菜单</span>
  
          <ul class="header_pic_menu">
              <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home" id="menu-item-37"><a href="/"><span><b>首页</b></span></a></li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category" id="menu-item-41"><a href="/"><span><b>关于我的</b></span></a> </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category" id="menu-item-38"><a href="/"><span><b>美食分享</b></span></a> </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category" id="menu-item-39"><a href="/"><span><b>工作笔记</b></span></a> </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category" id="menu-item-40"><a href="/"><span><b>旅途见闻</b></span></a> </li>
          </ul>
      </div>
  </div>


<div class="content">
  {% block content %} {% endblock %}

  <div class="sidbar">
    <div class="widget widget_calendar" id="calendar-2"><h2>分类列表</h2>
        <div class="calendar_wrap" id="calendar_wrap">
            {#todo:分类列表#}
        </div>
    </div>


    <div class="widget">

        <h2><a href=""> 关于我</a></h2>
        <a target="_blank" href="#" class="about_pic"> <img alt="关于我" src="{% static 'images/me.jpg' %}"></a>

        <div class="code_s about_p"><strong>MR.Jack</strong><br/>
            18世纪在世界史上是个特别迷人的世纪，它将启蒙运动紧紧拥在怀中。/<br/>
            这是最好的世界 /<br/>
            也是最坏的世界 /<br/>
            旅途路上永远会遇到有趣的事情<br/>
        </div>

    </div>


    <div class="fixed_mok" style="width: 378px; left: 1163.9px; top: 20px;">
        <div id="two_show" class="news_tuoch widget ">


            <h2>
                <a href="http://www.themepark.com.cn/demo/category/company-news?themedemo=foldingtime"> post</a>
            </h2>

            <ul>


                <li>
                    <a target="_blank"
                       href="#"
                       class="news_pics"><img width="307" height="204" title="阳光僧林" alt="阳光森林"
                                              class="attachment-case size-case wp-post-image"
                                              src="https://www.themepark.com.cn/demo/wp-content/themes/foldingtime/images/demo/cpss1.jpg"></a>
                    <div class="news_textss">
                        <a title=""
                           href="#">夏日午后的突发事件</a>
                        <em>2016/01/28</em>
                        <p>像所有周日那样，苏先生在家陪着我，或者说，我陪着他。这件事情有些说不...</p></div>
                </li>


                <li>
                    <a target="_blank"
                       href="http://www.themepark.com.cn/demo/wen_da_she_qu_yan_shi_wen_zhang.html?themedemo=foldingtime"
                       class="news_pics"><img width="307" height="204" title="阳光僧林" alt="阳光森林"
                                              class="attachment-case size-case wp-post-image"
                                              src="https://www.themepark.com.cn/demo/wp-content/themes/foldingtime/images/demo/cpss4.jpg"></a>
                    <div class="news_textss">
                        <a title="" target="_blank"
                           href="http://www.themepark.com.cn/demo/wen_da_she_qu_yan_shi_wen_zhang.html?themedemo=foldingtime">夏日午后的突发事件</a>
                        <em>2016/01/28</em>
                        <p>像所有周日那样，苏先生在家陪着我，或者说，我陪着他。这件事情有些说不...</p></div>
                </li>


                <li>
                    <a target="_blank"
                       href="http://www.themepark.com.cn/demo/wen_da_she_qu_yan_shi_wen_zhang.html?themedemo=foldingtime"
                       class="news_pics"><img width="307" height="204" title="阳光僧林" alt="阳光森林"
                                              class="attachment-case size-case wp-post-image"
                                              src="https://www.themepark.com.cn/demo/wp-content/themes/foldingtime/images/demo/cpss3.jpg"></a>
                    <div class="news_textss">
                        <a title="" target="_blank"
                           href="http://www.themepark.com.cn/demo/wen_da_she_qu_yan_shi_wen_zhang.html?themedemo=foldingtime">夏日午后的突发事件</a>
                        <em>2016/01/28</em>
                        <p>像所有周日那样，苏先生在家陪着我，或者说，我陪着他。这件事情有些说不...</p></div>
                </li>


                <li>
                    <a target="_blank"
                       href="http://www.themepark.com.cn/demo/wen_da_she_qu_yan_shi_wen_zhang.html?themedemo=foldingtime"
                       class="news_pics"><img width="307" height="204" title="阳光僧林" alt="阳光森林"
                                              class="attachment-case size-case wp-post-image"
                                              src="https://www.themepark.com.cn/demo/wp-content/themes/foldingtime/images/demo/cpss2.jpg"></a>
                    <div class="news_textss">
                        <a title="" target="_blank"
                           href="http://www.themepark.com.cn/demo/wen_da_she_qu_yan_shi_wen_zhang.html?themedemo=foldingtime">夏日午后的突发事件</a>
                        <em>2016/01/28</em>
                        <p>像所有周日那样，苏先生在家陪着我，或者说，我陪着他。这件事情有些说不...</p></div>
                </li>


            </ul>


        </div>

        <div class="widget">
            <div class="code_s">
                <a href="http://www.themepark.com.cn/" target="_blank"> <img alt="关于我" src="https://www.themepark.com.cn/demo/wp-content/themes/foldingtime/images/demo/ad.jpg"></a>
            </div>
        </div>
    </div>
  </div>

</div>


<div class="footer">
    <div class="footer_in"> <p class="f_bq "> 版权所有 &copy;foreverlonger </p> </div>
</div>

<a href="#" title="回到顶部" class="top_go_btn"></a>

{% block footer_script %} {% endblock %}
</body>
</html>
