{% extends "base.html" %}
{% load static %}

{% block title %}
foreverlonger的BLOG
{% endblock %}


{% block content %}
<div class="main_loop">

        <ul class="main_loop_ul">

            {% for blog_content in blog_contents %}
{#            {% for blog_content in content_all %}#}
            <li class="mian_li">
                <div class="ajax_content">
                    <a class="main_title" href="{% url 'myblog:myblog_detail' blog_content.pk %}"> {{ blog_content.title }}</a>
                    <div class="main_others">
                        <a class="main_cat" href="#" class="main_cat">{{ blog_content.sort.name }}</a>
                        <a class="main_actor" href="#">forever</a> 写在{{ blog_content.create_time|date:"Y-m-d H:i:s" }}
                        <a class="main_actor">浏览次数：{{ blog_content.views }}</a>
                    </div>
                    <div class="main_fenge"></div>
                    <div class="main_excerp">
                    <p class="index_p_d">
                        {{ blog_content.content }}
                    </p>
                    </div>
                    <a class="readmore" href="{% url 'myblog:myblog_detail' blog_content.pk %}"><span>展开全部</span>read more</a>
                    <!-- <div class="readloading"></div> -->
                    <!--
                    <div class="main_photos">
                        <img src="{% static 'images/main1.jpg' %}"/>
                    </div>
                    -->

                    <div class="moretag">
                        <span class="main_tag"></span>
                    </div>
                </div>

            </li>
            {% empty %}
            敬请期待
            {% endfor %}


        </ul>
        <div id="pagination" class="row">{% include 'paginator.html' %}</div>
    </div>
{% endblock %}

{% block footer_script %}
    <script>
    {#$(".header_pic_menu").click(function (){#}
    {#    var blog_title = $(this).text();#}
    {#    console.log(blog_title);#}
    {#    $("#zhezhaoceng").removeClass("current-menu-item");#}
    {#    $(this).addClass("current-menu-item");#}
    {##}
    {#});#}

    $(function () {
        $("#menu-item-37").addClass("current-menu-item")
    })
    </script>


{% endblock %}
